
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

$green:  #5d8e3c ;

span.error{
    color: red;
}

#items_list , #home_list
{
    .inCard
    {
      background-color: $green;
      i{color: white;}
    }

}/*End #items_list */


#login_register
{
    #type_btns
    {
        width: 600px;
        text-align: center;
        display: table;
        margin: 0 auto;
        transition: .5s;
        button
        {
            width: 150px;
            color: red;
            margin: 10px;
            height: 40px;
            border-radius: 15px;
            background-color: $green;
            color: white;
            border-color: white;
            transition: .5s;

            &.active
            {
                border-color: green;
                box-shadow: 2px 2px 3px #ccc;
                font-weight: bold;
                background-color: #2f5e10;
                transition: .5s;
            }
        }

    }
}/*End #login_register */


#VerificationCode
{
    .four_inputs
    {
         text-align: center;
         input
         {
              width: 50px;
              height: 50px;
              border-radius: 10px;
              background-color: #eee;
              margin: 10px;
              font-size: 35px;
              text-align: center;
         }
    }
}/*End VerificationCode */

#Category_list
{
    li.cats
    {
       img
       {
          width:300px;
          height:400px;
          border: 1px solid #ccc;
          border-radius: 10px;
          margin: 5px;
          box-shadow: 3px 3px 5px #ccc;
          transition: .5s;
          &:hover
          {
              box-shadow: 4px 4px 10px #a7a7a7;
              margin-right: 20px;
              cursor: pointer;
          }
       }
       h3
       {
         padding-top: 13px;
       }
    }
}/*End Category_list */


#ShoppingCart
{
    summary
    {
        height: 50px;
        background-color: #ccc;
        padding: 15px;
        &:hover{ cursor: pointer; }
        span.count
        {
            border-radius: 50px;
            background-color: $green;
            color: white;
            padding: 7px;
            margin: 10px;
        }
        button
        {
            float: right;
            border-radius: 10px;
            color: white;
            background-color: #4a4949;
            box-shadow: 2px 2px 5px black;
            transition: .5s;
            &:hover{
              font-weight: bold;
              padding-right: 15px;
              padding-left: 15px;
              background-color: $green;
            }
        }
    }//End summary

    summary.mydir_ar
    {
      direction: rtl;
      button{
        float: left;
      }
    }

    .min_max_text
    {
       color: $green;
    }
    p span.type
    {
       padding: 10px;
       background: $green;
       color: white;
       border-radius: 20px;
       margin: 10px;
       font-weight: bold;
    }

    #PayoutMethod
    {
        #methods
        {
            li{
               list-style: none;
            }
            label{
              display: inline;
            }
        } 

    }//End #PayoutMethod

}/*End ShoppingCart */
